<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>{{title}}</title>
    <link rel='preconnect' href='https://fonts.googleapis.com' />
    <link rel='preconnect' href='https://fonts.gstatic.com' crossorigin />
    <link
      href='https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap'
      rel='stylesheet'
    />
    <script src='https://cdn.tailwindcss.com'></script>
    <script>
      tailwind.config = { darkMode: 'class', theme: { extend: { colors: { primary:
      {"50":"#eff6ff","100":"#dbeafe","200":"#bfdbfe","300":"#93c5fd","400":"#60a5fa","500":"#3b82f6","600":"#2563eb","700":"#1d4ed8","800":"#1e40af","900":"#1e3a8a","950":"#172554"}
      } }, fontFamily: { 'body': [ 'Nunito Sans', 'ui-sans-serif', 'system-ui', '-apple-system', 'system-ui', 'Segoe
      UI', 'Roboto', 'Helvetica Neue', 'Arial', 'Noto Sans', 'sans-serif', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe
      UI Symbol', 'Noto Color Emoji' ], 'sans': [ 'Nunito Sans', 'ui-sans-serif', 'system-ui', '-apple-system',
      'system-ui', 'Segoe UI', 'Roboto', 'Helvetica Neue', 'Arial', 'Noto Sans', 'sans-serif', 'Apple Color Emoji',
      'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji' ] } } }
    </script>
    <link href='https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.css' rel='stylesheet' />
  </head>
  <body>
    <section class='min-h-screen bg-white dark:bg-gray-900'>
      <div class='flex h-full items-center py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6'>
        <div class='mx-auto max-w-screen-sm text-center'>
          <h1 class='mb-4 text-7xl tracking-tight font-extrabold lg:text-9xl text-primary-600 dark:text-primary-500'>
            500
          </h1>
          <p class='mb-4 text-3xl tracking-tight font-bold text-gray-900 md:text-4xl dark:text-white'>Internal Server
            Error.</p>
          <p class='mb-4 text-lg font-light text-gray-500 dark:text-gray-400'>
            We are already working to solve the problem.
          </p>
        </div>
      </div>
    </section>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js'></script>
  </body>
</html>