{{setVar 'res' (parseJSON (getFlashMessages 'error'))}}
{{setVar 'brandNameMsg' res.error.brandName.msg}}

<h1>Create Brand Page</h1>

{{#if brandNameMsg}}
  <p>{{brandNameMsg}}</p>
{{/if}}

{{#ifEquals res.status 400}}
  <p>{{res.message}}</p>
{{/ifEquals}}