<h1 class='text-3xl font-bold underline'>
  Đây là Home Page
</h1>

<p>{{totalPages}}</p>

<ul>
  {{#each watches}}
    <li>
      <span>{{this.watchName}}</span>
    </li>
  {{/each}}
</ul>