<h1 class='text-3xl font-bold underline'>
  Đây là Home Page
</h1>

<p>Username: {{user.memberName}}</p>

<a href='/sign-in'>Sign In</a>
<a href='/sign-up'>Sign Up</a>

<p>{{totalPages}}</p>

<ul>
  {{#each watches}}
    <li>
      <span>{{this.watchName}}</span>
    </li>
  {{/each}}
</ul>